*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

.box{
    height: 200px;
    width: 80%;
    margin: auto;
    background-color: darkblue;
}
@media screen and (max-width:250px) and (max-width:500px) {
    .box{
        background-color: red;
        width: 50%;
    }    
}