#Dhaka{
    background-color: seagreen;
    color: white;
    text-align: justify;
    padding:20px;
}
.Web{
    background-color: blue;
    color: white;
    text-align: justify;
    padding:20px;
}
.City{
    background-color: yellow;
    color: black;
    text-align: justify;
    padding:17px;
}